﻿<div class="d-flex flex-column m-1">
	<label for="x">X</label>
	<input required id="x" type="text" name="x" value="@ViewBag.x"/>
</div>
<div class="d-flex flex-column m-1">
	<label for="y">Y</label>
	<input required id="y" type="text" name="y" value="@ViewBag.y" />
</div>
<div class="d-flex flex-column m-1">
	<label for="result">Result</label>
	<input id="result" disabled type="text" name="z" value="@ViewBag.result" />
</div>
