﻿<div>
    <a class="nav-link text-dark" href="/Calc/Sum">Sum</a>
    <a class="nav-link text-dark" href="/Calc/Sub">Sub</a>
    <a class="nav-link text-dark" href="/Calc/Mul">Mul</a>
    <a class="nav-link text-dark" href="/Calc/Div">Div</a>
</div>